[Unit]
Description=Minecraft server
After=network.target

[Service]
ExecStart=/usr/mcserv/kubiki-serv/startup.sh
ExecStop=/usr/mcserv/kubiki-serv/shutdown.sh
StandardOutput=append:/usr/mcserv/log
StandardOutput=append:/usr/mcserv/log
Restart=always

[Install]
WantedBy=multi-user.target
